body {
  background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
}
#title {
  color: #9b2335;
  text-align: center;
  background-color: black;

  position: absolute;
  top: 8px;
  right: 16px;
}
.container {
  position: relative;
  text-align: center;
  color: white;
}
h1 {
  color: #9b2335;
}
#but {
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}
